* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --background-corlor: rgb(249, 221, 221);
    --background-color2: #F6F7C1;
    --heart-color: rgb(222, 37, 37);
    --size-heart: 90px;
    --heart-shadow: rgb(117, 27, 27);
    --text-size: 200px;

}

html,
body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    animation: change-color 3s forwards;
}

.topanimation {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--heart-color);
    transform: rotate(45deg);
    box-shadow: 4px 4px 50px 4px var(--heart-shadow);
    border-bottom-right-radius: 10%;
    cursor: pointer;
}

@keyframes first {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: var(--size-heart);
        height: var(--size-heart);
    }
}

@keyframes first_test {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes change-color {
    0% {
        background: white;
    }

    100% {
        background: var(--background-corlor);
    }
}

.topanimation ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: -50%;
    background-color: var(--heart-color);
    transform: rotate(45deg);
}

.topanimation ::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -50%;
    left: 0%;
    background-color: var(--heart-color);
    transform: rotate(45deg);
}



.top {
    position: relative;
    align-items: center;
    width: var(--size-heart);
    height: var(--size-heart);
    animation: first 1s, zoom alternate 0.5s infinite 0.5s;
}



@keyframes zoom {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.2);
    }
}


.appear {
    opacity: 0;
    visibility: hidden;
    transition: 1.5s;
    transform: scale(3000%);


}

.topanimation.appear ::before {
    opacity: 0;
    visibility: hidden;
    transition: 3.5s;

}

.topanimation.appear ::after {
    opacity: 0;
    visibility: hidden;
    transition: 3.5s;


}



.click,
.fa-hand-pointer {
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    top: 90%;
    font-weight: 900;
    animation: first_test 1.5s, zoom alternate 0.5s infinite 1.5s;
    user-select: none;
}

.fa-hand-pointer {
    top: -200%;
    left: 47%;
    font-size: 40px;
    display: inline-block;
    transform: rotate(-15deg) !important;
}

.click.appear {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    visibility: hidden;



}

.background_blur {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 120%;
    height: 120%;
    z-index: 1;
    transition: 2s;
    background-image: url(img2.jpg);
    background-size: cover;
    filter: blur(3px);

}

.title {
    color: rgb(249, 214, 220);
    user-select: none;
    position: absolute;
    font-weight: 900;
    font-size: 60px;
    transition: 1s;
    transform: scale(0.3) translateY(150%);
    visibility: hidden;
    top: 10%;
    z-index: 29;
    opacity: 0;

}

.title.appear_text {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0%);
}

.background_blur.appear_text {
    opacity: 1;
    visibility: visible;

}

.box {
    width: 70%;
    position: absolute;
    z-index: 29;
    font-family: Shantell Sans;
    visibility: hidden;
    top: 35%;
    text-align: center;

}

.letter,
.from {
    color: white;
    transition: 1s;
    text-align: justify;
    opacity: 0;
    transform: scale(0);
    font-weight: 100 !important;
    font-size: 35px !important;
    line-height: 70px;
    user-select: none;



}

.from {
    text-align: right !important;
    margin-top: 50px;
    text-shadow: 4px 4px 0px #87f94eb7, 7px 7px 0px rgba(53, 97, 3, 0.731);
}

.appear_text {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
